/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BODY */
body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #111;
  display: flex;
  justify-content: center;
}

/* CONTAINER = POSTER */
.container {
  width: 100%;
  max-width: 390px;

  aspect-ratio: 9 / 16; /* IKUT GAMBAR */
  padding: 20px;

  background-image: url("./assets/latar-bg.png.jpg");
  background-size: contain;      /* GAMBAR UTUH */
  background-position: center top;
  background-repeat: no-repeat;

  position: relative;
  overflow: hidden;
}

/* OVERLAY BIAR TEKS KEBACA */
.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.25);
  z-index: 0;
}

/* SEMUA ISI DI ATAS OVERLAY */
.container > * {
  position: relative;
  z-index: 1;
}

/* JUDUL */
h1 {
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-bottom: 6px;
}

p {
  color: #f1f1f1;
  font-size: 13px;
  text-align: center;
  margin-bottom: 12px;
}

/* QR */
.qr-container {
  background: #fff;
  border-radius: 16px;
  padding: 12px;
  text-align: center;
  margin-bottom: 14px;
}

.qr-container h2,
.qr-container p {
  color: #000;
}

/* MENU - 2 KOLOM */
.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 12px;
}

/* BUTTON MENU */
.menu button {
  background: #ffffff;
  color: #0d6efd;
  padding: 10px;
  border-radius: 12px;
  border: none;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}


/* SEMBUNYI */
.hidden {
  display: none;
}

/* TOMBOL KEMBALI */
.back {
  margin-top: 14px;
  width: 100%;
  background: #0d6efd;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
}
